.wrapper{
    background: rgb(238, 96, 112);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/9ddf8f7f-0a82-4d5f-ad82-f72ecd699654/db0uh9d-42b47589-36ae-4a16-93f4-1c731a82d027.png/v1/fill/w_1024,h_576,q_80,strp/sakura_from_cardcaptor_sakura_by_matsumayu_db0uh9d-fullview.jpg');
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    padding-bottom: 40px; 
}