nav {
    width: 100%;
    font-size: 1.5rem;
    color: rgb(233,181,59);
    margin-bottom: 30px;
    background-color: rgb(238, 96, 112);
    height: 70px;
    font-family: 'Kosugi Maru', sans-serif;
}

a {
    color:  rgb(238,233,75);
}

a:hover {
    color: rgb(233,181,59);
    text-decoration: none;
}

nav li {
    display: inline-block;
    padding: 15px 0;
    width: 25%;
}

ul {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1300px) {
    .titleSpace, .msg, .scr, .top-scr {
        font-size: 1rem;
        margin-bottom: 20px;
        height: 20px;
    }
}